# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
env/
ENV/

# Streamlit
.streamlit/

# Local Data (Crucial to exclude these from public repos)
data/
training_images/
resources/*.xml
!resources/haarcascade_frontalface_default.xml

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
